
@mixin not-clickable {

	@include user-select(none);

	-webkit-touch-callout: none;
	-ms-touch-action: none;
	touch-action: none;

	cursor: default;
	outline: none;
	pointer-events: none;


	&:hover, &:focus {

		cursor: default;

	}

}


@mixin clickable {

	@include user-select(auto);

	-webkit-touch-callout: auto;
	-ms-touch-action: auto;
	touch-action: auto;

	cursor: auto;
	pointer-events: auto;


	&:hover, &:focus {

		cursor: auto;

	}

}
