
button,
.button, .btn {
	
	@include disabled;
	@include remove-outline;
	@include rhythm($_INTERACTIVE_COPY, null 2, 0 0 1 0);
	@include transition(background-color $_HOVER_DURATION, color $_HOVER_DURATION, opacity $_HOVER_DURATION);
	
	background-color: $_BACKGROUND_COLOR;
	border: $_BORDER_COLOR;
	color: $_TEXT_COLOR;
	font-style: normal;
	font-weight: normal;
	opacity: $_OPACITY;
	padding: 0 $_BASE_PADDING;
	user-select: none;
	

	&:not([disabled]) {

		&:hover, &:focus, &.active {

			background-color: $_BACKGROUND_COLOR_HOVER;
			color: $_TEXT_COLOR_HOVER;
			cursor: pointer;

		}

	}


	@include debug {

		background-color: getRandomColour();

	}

}
