
/*button,
input[type="button"],
input[type="file"],
input[type="image"],
input[type="reset"],
input[type="submit"],*/
.button, .btn {

	@include disabled;
	@include remove-outline;
	@include rhythm($_INTERACTIVE_COPY, null 2, $_BODY_COPY_MARGIN_RAW 0 0 0);
	@include transition(background-color $_HOVER_DURATION, color $_HOVER_DURATION, opacity $_HOVER_DURATION);

	background-color: $_BACKGROUND_COLOR;
	border: $_BORDER_COLOR;
	color: $_TEXT_COLOR;
	font-style: normal;
	font-weight: normal;
	opacity: $_OPACITY;
	padding: 0 $_BASE_PADDING;
	user-select: none;


	// &:not([disabled]) {

		&:hover, &:focus {

			background-color: $_BACKGROUND_COLOR_HOVER;
			color: $_TEXT_COLOR_HOVER;
			cursor: pointer;

		}

	// }


	@include debug {

		background-color: getRandomColour();

	}

}
