
$_INPUT_DEFAULT_HEIGHT: 1.5;
$_INPUT_DEFAULT_PADDING_V: ($_INPUT_DEFAULT_HEIGHT - $_INTERACTIVE_COPY) / 2;
$_INPUT_DEFAULT_PADDING_H: ($_INPUT_DEFAULT_PADDING_V * $golden);

.input-base {

	@include disabled;
	@include remove-outline;
	@include rhythm-text($_INTERACTIVE_COPY, $_INTERACTIVE_COPY, $_BODY_COPY_MARGIN_RAW 0 0 0, $_INPUT_DEFAULT_PADDING_V $_INPUT_DEFAULT_PADDING_H $_INPUT_DEFAULT_PADDING_V $_INPUT_DEFAULT_PADDING_H);
	@include transition(background-color $_HOVER_DURATION, color $_HOVER_DURATION, opacity $_HOVER_DURATION);

	background-color: $_BACKGROUND_COLOR;
	border: none;


	&.error {

		border: 1px solid red;
		color: red;

	}

}


.input_text, .i_txt {

	@extend .input-base;

	color: $_TEXT_COLOR;
	height: rhythm-calc($_INTERACTIVE_COPY, $_INPUT_DEFAULT_HEIGHT);
	width: 100%;


	@include input-placeholder {

		font-style: italic;

	}

}


.input_checkbox, .i_chckbx, .input_radio, .i_rd {

	@extend .input-base;

	@include transition(none);

	border: none;
	cursor: pointer;
	display: inline-block;
	font-size: $_BASE_FONT_SIZE;
	height: 1em;
	margin: 0 $_BASE_PADDING / 2 0 0;
	padding: 0;
	user-select: none;
	vertical-align: middle;
	width: 1em;


	// &:not([disabled]) {

		// do not use &:focus
		// as it conflicts with the transitions
		&:hover {

			background-color: $_BACKGROUND_COLOR_HOVER;
			color: $_TEXT_COLOR_HOVER;
			opacity: $_OPACITY_DISABLED;

		}

	// }


	&:checked {

		background-color: $_BACKGROUND_COLOR_HOVER;


		&:hover {

			opacity: 1;

		}

	}

}


.input_radio, .i_rd {

	border-radius: 1em;

}



.textarea, .txtr {

	@extend .input-base;

	box-sizing: border-box;
	color: $_TEXT_COLOR;
	font-style: normal;
	font-weight: normal;

	// $textareaMult: 2;
	// $textareaLines: 2;
	// min-height: 1em * $textareaLines * $_BASE_LINE_HEIGHT / ($textareaMult * $_BASE_FONT_SIZE);
	// magic multiplier:	3.38em
	// min-height: 6.76em;	//	2 x 3.38em
	// min-height: 4 * $_BASE_LINE_HEIGHT;
	min-height: rhythm-calc($_INTERACTIVE_COPY, 8);
	//

	padding-left: rhythm-calc($_INTERACTIVE_COPY, ($_INPUT_DEFAULT_PADDING_H * 2 / $golden));
	padding-right: rhythm-calc($_INTERACTIVE_COPY, ($_INPUT_DEFAULT_PADDING_H * 2 / $golden));
	resize: none;
	width: 100%;
	vertical-align: bottom;

}
