
.select-base {

	@include disabled;

	background-color: $_BACKGROUND_COLOR;
	cursor: pointer;
	margin: 0;
	position: relative;

}


.select, .slct {

	@extend .select-base;

	@include rhythm($_INTERACTIVE_COPY, null 2, 0 0 1 0, 0 1 0 1);

	appearance: none;
	border: none;
	border-radius: 0;
	color: $_TEXT_COLOR;
	font-style: normal;
	font-weight: normal;
	line-height: inherit;
    outline: none;
	user-select: none;
	z-index: 1;


	&:not([disabled]) {

		&:hover, &.selected {

			color: $_TEXT_COLOR_HOVER;

		}

	}

}


.form_select, .f_slct, .form_drop-down, .f_d-dwn {

	@extend .select-base;

	display: inline-block;
	margin-bottom: $_BASE_LINE_HEIGHT;


	&:not(.disabled) {

		&:hover, &.selected {

			background-color: $_BACKGROUND_COLOR_HOVER;

		}

	}


	.select, .slct {

		margin: 0;

	}

}
