
.center {

	margin: 0 auto;
	text-align: center;

}


.align-left {

	margin: 0 auto 0 0;

}


.align-right {

	margin: 0 0 0 auto;

}


.margin_auto, .m_a {

	margin: 0 auto;
	text-align: center;

}


.no-vertical-margins {

	margin-bottom: 0;
	margin-top: 0;

}


.no-horizontal-margins {

	margin-left: 0;
	margin-right: 0;

}


.no-margins,
.margin_0, .m_0 {

	margin: 0;

}


.no-top-margin,
.no-margin-top,
.margin-top_0, .m-t_0 {

	margin-top: 0;

}


.no-right-margin,
.no-margin-right,
.margin-right_0, .m-r_0 {

	margin-right: 0;

}


.no-bottom-margin,
.no-margin-bottom,
.margin-bottom_0, .m-b_0 {

	margin-bottom: 0;

}


.no-left-margin,
.no-margin-left,
.margin-left_0, .m-l_0  {

	margin-left: 0;

}
