
[class^="icon-"], [class*=" icon-"] {

	@include rhythm-text($_BODY_COPY, 2, 0 0 1 0);

	display: inline-block;
	position: relative;
	text-decoration: none;
	vertical-align: middle;


	&:before {

		@include rhythm-text-reset;

		position: relative;
		vertical-align: middle;

	}

}


h1, h2, h3, h4, h5, h6,
blockquote, p, span, q, cite,
label, button, .button, a {

	> [class^="icon-"], > [class*=" icon-"] {

		@include rhythm-text-reset;

	}

}
