
$_FONT_SIZE_10: custom-modular-scale(10);
$_LINE_HEIGHT_10: custom-modular-scale_line-height($_FONT_SIZE_10);
$_LINE_HEIGHT_10-2: custom-modular-scale_line-height-2($_FONT_SIZE_10, $_FONT_SIZE_10);

$_FONT_SIZE_9: custom-modular-scale(9);
$_LINE_HEIGHT_9: custom-modular-scale_line-height($_FONT_SIZE_9);
$_LINE_HEIGHT_9-2: custom-modular-scale_line-height-2($_FONT_SIZE_9, $_FONT_SIZE_10);

$_FONT_SIZE_8: custom-modular-scale(8);
$_LINE_HEIGHT_8: custom-modular-scale_line-height($_FONT_SIZE_8);
$_LINE_HEIGHT_8-2: custom-modular-scale_line-height-2($_FONT_SIZE_8, $_FONT_SIZE_10);

$_FONT_SIZE_7: custom-modular-scale(7);
$_LINE_HEIGHT_7: custom-modular-scale_line-height($_FONT_SIZE_7);
$_LINE_HEIGHT_7-2: custom-modular-scale_line-height-2($_FONT_SIZE_7, $_FONT_SIZE_10);

$_FONT_SIZE_6: custom-modular-scale(6);
$_LINE_HEIGHT_6: custom-modular-scale_line-height($_FONT_SIZE_6);
$_LINE_HEIGHT_6-2: custom-modular-scale_line-height-2($_FONT_SIZE_6, $_FONT_SIZE_10);

$_FONT_SIZE_5: custom-modular-scale(5);
$_LINE_HEIGHT_5: custom-modular-scale_line-height($_FONT_SIZE_5);
$_LINE_HEIGHT_5-2: custom-modular-scale_line-height-2($_FONT_SIZE_5, $_FONT_SIZE_10);

$_FONT_SIZE_4: custom-modular-scale(4);
$_LINE_HEIGHT_4: custom-modular-scale_line-height($_FONT_SIZE_4);
$_LINE_HEIGHT_4-2: custom-modular-scale_line-height-2($_FONT_SIZE_4, $_FONT_SIZE_10);

$_FONT_SIZE_3: custom-modular-scale(3);
$_LINE_HEIGHT_3: custom-modular-scale_line-height($_FONT_SIZE_3);
$_LINE_HEIGHT_3-2: custom-modular-scale_line-height-2($_FONT_SIZE_3, $_FONT_SIZE_10);

$_FONT_SIZE_2: custom-modular-scale(2);
$_LINE_HEIGHT_2: custom-modular-scale_line-height($_FONT_SIZE_2);
$_LINE_HEIGHT_2-2: custom-modular-scale_line-height-2($_FONT_SIZE_2, $_FONT_SIZE_10);

$_FONT_SIZE_1: custom-modular-scale(1);
$_LINE_HEIGHT_1: custom-modular-scale_line-height($_FONT_SIZE_1);
$_LINE_HEIGHT_1-2: custom-modular-scale_line-height-2($_FONT_SIZE_1, $_FONT_SIZE_10);

$_FONT_SIZE_0: custom-modular-scale(0);
$_LINE_HEIGHT_0: custom-modular-scale_line-height($_FONT_SIZE_0);

$_FONT_SIZE_-1: custom-modular-scale(-1);
$_LINE_HEIGHT_-1: custom-modular-scale_line-height($_FONT_SIZE_-1);

$_FONT_SIZE_-2: custom-modular-scale(-2);
$_LINE_HEIGHT_-2: custom-modular-scale_line-height($_FONT_SIZE_-2);



$_FONT_SIZE_95: $_FONT_SIZE_9 + ($_FONT_SIZE_10 - $_FONT_SIZE_9) / 2;
$_LINE_HEIGHT_95: custom-modular-scale_line-height($_FONT_SIZE_95);
$_LINE_HEIGHT_95-2: custom-modular-scale_line-height-2($_FONT_SIZE_95, $_FONT_SIZE_10);

$_FONT_SIZE_85: $_FONT_SIZE_8 + ($_FONT_SIZE_9 - $_FONT_SIZE_8) / 2;
$_LINE_HEIGHT_85: custom-modular-scale_line-height($_FONT_SIZE_85);
$_LINE_HEIGHT_85-2: custom-modular-scale_line-height-2($_FONT_SIZE_85, $_FONT_SIZE_10);

$_FONT_SIZE_75: $_FONT_SIZE_7 + ($_FONT_SIZE_8 - $_FONT_SIZE_7) / 2;
$_LINE_HEIGHT_75: custom-modular-scale_line-height($_FONT_SIZE_75);
$_LINE_HEIGHT_75-2: custom-modular-scale_line-height-2($_FONT_SIZE_75, $_FONT_SIZE_10);

$_FONT_SIZE_65: $_FONT_SIZE_6 + ($_FONT_SIZE_7 - $_FONT_SIZE_6) / 2;
$_LINE_HEIGHT_65: custom-modular-scale_line-height($_FONT_SIZE_65);
$_LINE_HEIGHT_65-2: custom-modular-scale_line-height-2($_FONT_SIZE_65, $_FONT_SIZE_10);

$_FONT_SIZE_55: $_FONT_SIZE_5 + ($_FONT_SIZE_6 - $_FONT_SIZE_5) / 2;
$_LINE_HEIGHT_55: custom-modular-scale_line-height($_FONT_SIZE_55);
$_LINE_HEIGHT_55-2: custom-modular-scale_line-height-2($_FONT_SIZE_55, $_FONT_SIZE_10);

$_FONT_SIZE_45: $_FONT_SIZE_4 + ($_FONT_SIZE_5 - $_FONT_SIZE_4) / 2;
$_LINE_HEIGHT_45: custom-modular-scale_line-height($_FONT_SIZE_45);
$_LINE_HEIGHT_45-2: custom-modular-scale_line-height-2($_FONT_SIZE_45, $_FONT_SIZE_10);

$_FONT_SIZE_35: $_FONT_SIZE_3 + ($_FONT_SIZE_4 - $_FONT_SIZE_3) / 2;
$_LINE_HEIGHT_35: custom-modular-scale_line-height($_FONT_SIZE_35);
$_LINE_HEIGHT_35-2: custom-modular-scale_line-height-2($_FONT_SIZE_35, $_FONT_SIZE_10);

$_FONT_SIZE_25: $_FONT_SIZE_2 + ($_FONT_SIZE_3 - $_FONT_SIZE_2) / 2;
$_LINE_HEIGHT_25: custom-modular-scale_line-height($_FONT_SIZE_25);
$_LINE_HEIGHT_25-2: custom-modular-scale_line-height-2($_FONT_SIZE_25, $_FONT_SIZE_10);

$_FONT_SIZE_15: $_FONT_SIZE_1 + ($_FONT_SIZE_2 - $_FONT_SIZE_1) / 2;
$_LINE_HEIGHT_15: custom-modular-scale_line-height($_FONT_SIZE_15);
$_LINE_HEIGHT_15-2: custom-modular-scale_line-height-2($_FONT_SIZE_15, $_FONT_SIZE_10);



// can be overridden

$_FONT_SIZE_MIN: $_FONT_SIZE_0;
$_LINE_HEIGHT_MIN: $_LINE_HEIGHT_0;

$_FONT_SIZE_MAX: $_FONT_SIZE_10;
$_LINE_HEIGHT_MAX: $_LINE_HEIGHT_10;


h1, h2, h3, h4, h5, h6,
.title,
.text_-2,
.text_-1,
.text_0,
.text_1,
.text_2,
.text_3,
.text_4,
.text_5,
.text_6,
.text_7,
.text_8,
.text_9,
.text_10 {

	margin: 0;
	padding: 0;


	@include debug {

		background-color: getRandomColour();

	}

}


h1, h2, h3, h4, h5, h6,
.title {

	font-weight: bold;

}



.text_10 {

	@include rhythm-text($_FONT_SIZE_10, $_LINE_HEIGHT_10, 3 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}


.text_10-2 {

	@include rhythm-text($_FONT_SIZE_10, $_LINE_HEIGHT_10-2, 3 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}



.text_9 {

	@include rhythm-text($_FONT_SIZE_9, $_LINE_HEIGHT_9, 2.75 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}


.text_9-2 {

	@include rhythm-text($_FONT_SIZE_9, $_LINE_HEIGHT_9-2, 2.75 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}



.text_8 {

	@include rhythm-text($_FONT_SIZE_8, $_LINE_HEIGHT_8, 2.5 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}


.text_8-2 {

	@include rhythm-text($_FONT_SIZE_8, $_LINE_HEIGHT_8-2, 2.5 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}



.text_7 {

	@include rhythm-text($_FONT_SIZE_7, $_LINE_HEIGHT_7, 2.25 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}


.text_7-2 {

	@include rhythm-text($_FONT_SIZE_7, $_LINE_HEIGHT_7-2, 2.25 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}



h1,
.text_6 {

	@include rhythm-text($_FONT_SIZE_6, $_LINE_HEIGHT_6, 2 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}


.text_6-2 {

	@include rhythm-text($_FONT_SIZE_6, $_LINE_HEIGHT_6-2, 2 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}



h2,
.text_5 {

	@include rhythm-text($_FONT_SIZE_5, $_LINE_HEIGHT_5, 1.75 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}


.text_5-2 {

	@include rhythm-text($_FONT_SIZE_5, $_LINE_HEIGHT_5-2, 1.75 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}



h3,
.text_4 {

	@include rhythm-text($_FONT_SIZE_4, $_LINE_HEIGHT_4, 1.5 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}


.text_4-2 {

	@include rhythm-text($_FONT_SIZE_4, $_LINE_HEIGHT_4-2, 1.5 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}



h4,
.text_3 {

	@include rhythm-text($_FONT_SIZE_3, $_LINE_HEIGHT_3, 1.25 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}


.text_3-2 {

	@include rhythm-text($_FONT_SIZE_3, $_LINE_HEIGHT_3-2, 1.25 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}



h5,
.text_2 {

	@include rhythm-text($_FONT_SIZE_2, $_LINE_HEIGHT_2, 1 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}


.text_2-2 {

	@include rhythm-text($_FONT_SIZE_2, $_LINE_HEIGHT_2-2, 1 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}



h6,
.text_1 {

	@include rhythm-text($_FONT_SIZE_1, $_LINE_HEIGHT_1, 0.75 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}


.text_1-2 {

	@include rhythm-text($_FONT_SIZE_1, $_LINE_HEIGHT_1-2, 0.75 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}



.text_0 {

	@include rhythm-text($_FONT_SIZE_0, $_LINE_HEIGHT_0, 0.5 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}



.text_-1 {

	// @include rhythm-text($_FONT_SIZE_-1, $_LINE_HEIGHT_-1, 1.5 0 1 0);
	// @include rhythm-text($_FONT_SIZE_-1, $_LINE_HEIGHT_-1, 1.5 0 0 0);
	@include rhythm-text($_FONT_SIZE_-1, $_LINE_HEIGHT_-1, 0.5 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}



.text_-2 {

	// @include rhythm-text($_FONT_SIZE_-2, $_LINE_HEIGHT_-2, 1.5 0 1 0);
	// @include rhythm-text($_FONT_SIZE_-2, $_LINE_HEIGHT_-2, 1.5 0 0 0);
	@include rhythm-text($_FONT_SIZE_-2, $_LINE_HEIGHT_-2, 0.5 0 0 0);


	@include debug {

		background-color: getRandomColour();

	}

}
