
[class^="icon-"], [class*=" icon-"] {

	@include text-null;
	@include text-rhythm($_BODY_COPY, 2, 0 0 1 0);

	background-color: transparent;
	display: inline-block;
	padding: 0 $_BASE_PADDING / 2;
	text-decoration: none;

}


h1, h2, h3, h4, h5, h6,
blockquote, p, span, q, cite,
label, button, .button, a {

	> [class^="icon-"], > [class*=" icon-"] {

		@include text-rhythm-reset;

		line-height: inherit;
		margin: 0;
		vertical-align: middle;


		&.with_left-margin {

			margin-left: ($_BASE_MARGIN / 2);

		}


		&.with_right-margin {

			margin-right: ($_BASE_MARGIN / 2);

		}

	}

}


// icon is before element
[class^="icon-"], [class*=" icon-"] {

	// title
	& + h1,
	& + h2,
	& + h3,
	& + h4,
	& + h5,
	& + h6,

	// body
	& + blockquote,
	& + p,
	& + span,
	& + q,
	& + cite {

		margin-right: 1em;

	}

}


// icon is after element
h1, h2, h3, h4, h5, h6,
blockquote, p, span, q, cite {

	+ [class^="icon-"], + [class*=" icon-"] {

		margin-left: 1em;

	}

}
