
.uppercase {

	text-transform: uppercase;

}


.bold {

	font-weight: bold;

}


.italic {

	font-style: italic;

}


/* MARGIN */

.center {

	margin-left: auto;
	margin-right: auto;
	text-align: center;

}


/* ALIGN */

.align-left {

	text-align: left;

}


.align-center {

	text-align: center;

}


.align-right {

	text-align: right;

}


.justify {

	text-align: justify;
    text-justify: inter-word;
    
}


/* DECORATION */

.underline {

	text-decoration: underline;

}


.breakthrough {

	text-decoration: line-through;

}
