
.uppercase {

	text-transform: uppercase;

}


.bold {

	font-weight: bold;

}


.italic {

	font-style: italic;

}


.center {

	margin-left: auto;
	margin-right: auto;
	text-align: center;

}


.underline {

	text-decoration: underline;

}


.breakthrough {
	
	text-decoration: line-through;

}
