
.column {

	@include column($_COLUMN_NUMBER);

	float: left;
	max-width: $_BASE_GRID_WIDTH;

}



.with-gutters {

	padding: $_BASE_LINE_HEIGHT $_COLUMN_GUTTER;

}



.with-gutter-hor {

	padding-left: $_COLUMN_GUTTER;
	padding-right: $_COLUMN_GUTTER;

}


.with-gutter-left {

	padding-left: $_COLUMN_GUTTER;

}


.with-gutter-right {

	padding-right: $_COLUMN_GUTTER;

}



.with-gutter-ver {

	padding-bottom: $_BASE_LINE_HEIGHT;
	padding-top: $_BASE_LINE_HEIGHT;

}


.with-gutter-top {

	padding-top: $_BASE_LINE_HEIGHT;

}


.with-gutter-bottom {

	padding-bottom: $_BASE_LINE_HEIGHT;

}



.interactive {

	&:hover {

		@include transition(background-color $_HOVER_DURATION, color $_HOVER_DURATION);

		background-color: rgba(0, 0, 0, 0.05);
		// color: white;

	}

}


@for $i from 2 through ($_COLUMN_NUMBER + 1) {

	@include generate-columns($i);

}
