
.grid {

	@include position(absolute, 0 0 0 0);
	@include user-select(none);
	@include text-rhythm-reset;

	margin: 0 auto;
	max-width: $_BASE_GRID_WIDTH;
	opacity: 0.5;
	pointer-events: none;
	width: 100%;
	z-index: 1000000;


	> .column {

		@include column(1, $_COLUMN_NUMBER);

		border-left: 1px solid $_GRID_COLOR_1;
		border-right: 1px solid transparent;
		min-height: 100%;
		position: relative;


		// middle
		&:before {

			border-right: 1px solid $_GRID_COLOR_2;
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 50%;

		}


		// inner
		// only if gutter is > 0
		@if $_COLUMN_GUTTER > 0 {

			&:after {

				@include position(absolute, 0 $_COLUMN_GUTTER 0 $_COLUMN_GUTTER);

				border-left: 1px solid $_GRID_COLOR_3;
				border-right: 1px solid $_GRID_COLOR_3;
				content: "";

			}
			
		}


		&:last-of-type {

			border-right: 1px solid cyan;

		}

	}


	&.hide {

		display: none;

	}

}
