
.grid {

	@include position(absolute, 0 0 0 0);
	@include user-select(none);
	@include text-rhythm-reset;

	margin: 0 auto;
	max-width: $_BASE_GRID_WIDTH;
	opacity: 0.5;
	pointer-events: none;
	z-index: 1000000;


	&:before {

		@include position(absolute, 0 0 0 0);

		border-right: 1px solid cyan;
		content: "";

	}


	> .column {

		@include column(1, $_COLUMN_NUMBER);

		min-height: 100%;
		position: relative;


		// middle
		&:before {

			border-left: 1px solid $_GRID_COLOR_1;
			border-right: 1px solid $_GRID_COLOR_2;
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 50%;

		}


		// inner
		// only if gutter is > 0
		@if $_COLUMN_GUTTER > 0 {

			&:after {

				@include position(absolute, 0 $_COLUMN_GUTTER 0 $_COLUMN_GUTTER);

				border-left: 1px solid $_GRID_COLOR_3;
				border-right: 1px solid $_GRID_COLOR_3;
				content: "";
				display: block;

				// FIX
				// weird 1 px offset
				// due to box-sizing?
				right: calc(#{$_COLUMN_GUTTER} - 1px);
				//

			}
			
		}

	}


	&.hide {

		display: none;

	}

}
