
.rhythm {

	@include position(absolute, -1px 0 0 0);
	@include user-select(none);
	@include text-rhythm-reset;

	background-image: -webkit-linear-gradient(top, $_GRID_COLOR_1 0, rgba(255,255,255,0) 1px);
	background-image: -moz-linear-gradient(top, $_GRID_COLOR_1 0, rgba(255,255,255,0) 1px);
	background-image: -o-linear-gradient(top, $_GRID_COLOR_1 0, rgba(255,255,255,0) 1px);
	background-image: linear-gradient(to bottom, $_GRID_COLOR_1 0, rgba(255,255,255,0) 1px);
	background-repeat: repeat-y;
	background-size: 100% $_BASE_LINE_HEIGHT;
	opacity: 0.5;
	z-index: 1000000;


	&:before {

		@include position(absolute, $_BASE_LINE_HEIGHT / 2 0 0 0);
		@include user-select(none);
		@include text-rhythm-reset;

		background-image: -webkit-linear-gradient(top, $_GRID_COLOR_2 0, rgba(255,255,255,0) 1px);
		background-image: -moz-linear-gradient(top, $_GRID_COLOR_2 0, rgba(255,255,255,0) 1px);
		background-image: -o-linear-gradient(top, $_GRID_COLOR_2 0, rgba(255,255,255,0) 1px);
		background-image: linear-gradient(to bottom, $_GRID_COLOR_2 0, rgba(255,255,255,0) 1px);
		background-repeat: repeat-y;
		background-size: 100% $_BASE_LINE_HEIGHT;
		content: "";

	}


	&.hide {

		display: none;


		&:before, &:after {
			
			display: none;

		}

	}

}
