
.style-guide-container {

	min-height: 100%;
	overflow: hidden;
	position: relative;

}


.style-guide-title {

	@include rhythm(3, null 3, 1.5 0 1 0);

	border-top: 2px solid black;

}


.style-guide-desc {}



/* COLUMNS */

.style-guide-columns {

	@include clearfix;

	clear: both;
	// float: left;
	width: 100%;


	> .column {

		background-color: rgba(255, 0, 0, 0.2);
		min-height: 6 * $_BASE_LINE_HEIGHT;
		position: relative;


		&:before {

			@include position(absolute, $_COLUMN_GUTTER);

			background-color: rgba(255, 0, 0, 0.2);
			content: "";

		}


		> p {

			@include inline-block;
			@include text-rhythm(1.7, 2, 0 0 0 0.5);

			color: white;
			font-weight: bold;

		}


		&.lighter {

			background-color: rgba(255, 0, 0, 0.15);

		}

	}

}



/* ICONS */

.style-guide-icons {

	li {

		> * {

			@include inline-block;

			margin: 0;

		}

	}

}



/* COLORS */

.style-guide-colors {

	> li {

		@include clearfix;

	}


	.style-guide-desc {

		float: left;
		margin-left: 1em;

	}

}


.style-guide-color-preview {

	@include text-rhythm-reset;
	@include square(1, 6);

	background-color: red;
	float: left;
	margin-bottom: $_BASE_LINE_HEIGHT;


	&.with-border {

		// so we keep the rhythm going
		&:before {

			@include position(absolute, 0 0 0 0);

			border: 1px solid $_BORDER_COLOR;
			content: "";

		}

	}


	// color example
	&.color-text-1 {

		// background-color: $_COLOR;

	}

}
