
@function getColumnDefaultWidth($columnNum: $_COLUMN_NUMBER) {

	@return 100% / $columnNum;

}

@function getColumnWidth($cols, $columnNum: $_COLUMN_NUMBER) {

	@return 100% * $cols / $columnNum;

}


@mixin column($cols, $columnNum: $_COLUMN_NUMBER) {

	width: getColumnWidth($cols, $columnNum);

}


@mixin generate-columns($columnsNum: $_COLUMN_NUMBER) {

	@for $i from 1 through $columnsNum {

		$original: '.column_' + $i + '-' + $columnsNum;

		@if $columnsNum == $_COLUMN_NUMBER {

			$original: '.column_' + $i;

		}


		$special1: '';
		$special2: '';

		@if $i == $columnsNum / 2 {

			$special1: '.column_half-' + $columnsNum;

			@if $columnsNum == $_COLUMN_NUMBER {

				$special2: '.column_half';

			}

		}

		@if $i == $columnsNum / 3 {

			$special1: '.column_third-' + $columnsNum;

			@if $columnsNum == $_COLUMN_NUMBER {

				$special2: '.column_third';

			}

		}

		@if $i == $columnsNum / 4 {

			$special1: '.column_quarter-' + $columnsNum;

			@if $columnsNum == $_COLUMN_NUMBER {

				$special2: '.column_quarter';

			}

		}

		#{$original}, #{$special1}, #{$special2} {

			@include column($i, $columnsNum);

		}

	}

}
