
p {

	@include text-rhythm($_BODY_COPY, 2, 0 0 1 0);

	font-style: normal;
	font-weight: normal;
	padding: 0;
	text-indent: $_BASE_LINE_HEIGHT;


	&:last-child {

		margin-bottom: 0;

	}


	&:only-child, &:only-of-type {

		text-indent: 0;

	}


	@include debug {

		background-color: getRandomColour();

	}

}


span {

	@include text-rhythm-reset;


	@include debug {

		background-color: getRandomColour();

	}

}


cite {

	@include text-rhythm-reset;

	font-style: italic;


	@include debug {

		background-color: getRandomColour();

	}

}


q {

	@include text-rhythm-reset;

	font-style: italic;
	opacity: 0.75;


	&:before {

	    content: open-quote;

	}


	&:after {

	    content: close-quote;

	}


	@include debug {

		background-color: getRandomColour();

	}

}


blockquote {

	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $_BASE_LINE_HEIGHT;
	max-width: none;
	position: relative;
	text-align: justify;
	width: 75%;


	&:first-child {

		margin-top: 0;

	}
	

	&:last-child {

		margin-bottom: 0;

	}


	@include debug {

		background-color: getRandomColour();

	}


	&.with-quotes {

		&:before, &:after {

			@include not-clickable;

			display: block;
			font-family: $georgia;
			font-size: 5 * $_BASE_FONT_SIZE;
			line-height: 1em;
			position: absolute;

		}


		&:before {

			content: open-quote;
			left: -0.5em;
			// top: -0.1em;
			top: 0.075em;

		}


		&:after {

			// bottom: -0.6em;
			bottom: -0.45em;
			content: close-quote;
			right: -0.5em;

		}

	}

}
