
p, cite, q,
.body, .bd,
.body_p, .bd_p,
.body_cite, .bd_ct,
.body_q, .bd_q {

	@include text-rhythm($_BODY_COPY, 2, 0 0 1 0);

	// background-color: green;
	font-style: normal;
	font-weight: normal;
	padding: 0;


	&:last-child {

		margin-bottom: 0;

	}

}


p,
.body_p, .bd_p {

	text-indent: $_BASE_MARGIN;
	// text-indent: $_BASE_LINE_HEIGHT;


	&:only-child, &:only-of-type {

		text-indent: 0;

	}
	
}


span,
.body_span, .bd_spn {

	@include text-rhythm-reset;

}


cite,
.body_cite, .bd_ct {

	font-style: italic;
	opacity: 0.75;

}


q,
.body_q, .bd_q {

	font-style: italic;
	opacity: 0.75;


	&:before {

	    content: open-quote;

	}


	&:after {

	    content: close-quote;

	}

}


blockquote,
.blockquote, .blckqt {

	@include text-rhythm-reset;

	// background-color: red;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $_BASE_LINE_HEIGHT;
	max-width: none;
	position: relative;
	text-align: justify;
	width: 75%;


	&:first-child {

		margin-top: 0;

	}
	

	&:last-child {

		margin-bottom: 0;

	}


	&.with-quotes {

		&:before {

			content: open-quote;
			display: block;
			font-size: 5 * $_BASE_FONT_SIZE;
			left: -0.5em;
			line-height: 1em;
			position: absolute;
			top: -0.15em;

		}


		&:after {

			bottom: 0.3em;
			content: close-quote;
			display: block;
			font-size: 5 * $_BASE_FONT_SIZE;
			line-height: 1em;
			right: -0.5em;
			position: absolute;

		}

	}


	> * {

		&:first-child {

			margin-top: 0;

		}


		&:last-child {

			margin-bottom: 0;

		}

	}

}
