
.style-guide-container {

	min-height: 100%;
	overflow: hidden;
	position: relative;

}


.style-guide-title {

	@include rhythm(3, null 3, 1.5 0 1 0);

	border-top: 2px solid black;

}


.style-guide-desc {}



/* CONTAINER */

// .style-guide-columns-container {

// 	@include clearfix;


// 	> li {

// 		float: left;

// 	}

// }



/* COLUMNS */

.style-guide-columns {

	@include clearfix;

	clear: both;
	// float: left;
	width: 100%;


	> .column {

		background-color: rgba(255, 0, 0, 0.2);
		min-height: (6 * $_BASE_LINE_HEIGHT);
		padding-bottom: ($_BASE_LINE_HEIGHT / 2);
		padding-top: ($_BASE_LINE_HEIGHT / 2);
		position: relative;


		&:before {

			@include position(absolute, $_COLUMN_GUTTER);

			background-color: rgba(255, 0, 0, 0.2);
			content: "";

		}


		> p {

			@include inline-block;
			@include text-rhythm(1.7, 2, 0 0 0 0.5);

			color: white;
			font-weight: bold;

		}


		&.lighter {

			background-color: rgba(255, 0, 0, 0.15);

		}

	}

}



/* ICONS */

.style-guide-icons {

	@include clearfix;


	&.with-legend {

		[class^="icon-"]:after, [class*=" icon-"]:after {

			@include text-rhythm-reset;

			content: attr(class) " ";
			margin-left: ($_BASE_MARGIN / 2);
			speak: none;
			text-decoration: none;
			text-rendering: auto;
			// text-rendering: optimizeLegibility;
			text-transform: none;

		}

	}


	li {

		float: left;
		margin-top: 1em;
		text-align: center;
		width: 100%;


		&:first-child {

			margin-top: 0;

		}


		// >= 2 columns
		@include media-min-width($_BREAKPOINT_65) {

			text-align: left;
			width: auto;


			&:nth-child(2) {

				margin-top: 0;

			}

		}


		// 2 columns
		@include media-width($_BREAKPOINT_65, $_BREAKPOINT_110) {

			min-width: 50%;

		}


		// 3 columns
		@include media-min-width($_BREAKPOINT_110) {

			min-width: (100% / 3);


			&:nth-child(3) {

				margin-top: 0;

			}

		}

	}

}


.style-guide-icon {

	@include inline-block;

	margin: 0;
	padding: 0;
	vertical-align: middle;


	&:after {

		@include text-rhythm-reset;

		content: attr(class) " ";
		font-family: $helvetica;
		margin-left: $_BASE_MARGIN;
		vertical-align: middle;

	}


	.with-legend & {

		// [class^="icon-"]:after, [class*=" icon-"]:after {

		// 	// content: attr(class);
		// 	content: 'Youhou';

		// }

	}

}



/* COLORS */

.style-guide-colors {

	> li {

		@include clearfix;

	}


	.style-guide-desc {

		float: left;
		margin-left: 1em;

	}

}


.style-guide-color-preview {

	@include text-rhythm-reset;
	@include square(1, 6);

	background-color: red;
	float: left;
	margin-bottom: $_BASE_LINE_HEIGHT;


	&.with-border {

		// so we keep the rhythm going
		&:before {

			@include position(absolute, 0 0 0 0);

			border: 1px solid $_BORDER_COLOR;
			content: "";

		}

	}


	// color example
	&.color-text-1 {

		// background-color: $_COLOR;

	}

}
