
// webkit on iOS
// is adding rounded corners

button, .button, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] {

	@include border-radius(0);

	-webkit-appearance: none;

}


button, .button, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] {

    @include remove-outline;
	@include rhythm($_INTERACTIVE_COPY, null 2, 0 0 1 0);
	@include transition(background-color $_HOVER_DURATION, color $_HOVER_DURATION, opacity $_HOVER_DURATION);
	@include user-select(none);
	
	background-color: $_BACKGROUND_COLOR;
	border: $_BORDER_COLOR;
	color: $_TEXT_COLOR;
	font-style: normal;
	font-weight: normal;
	opacity: $_OPACITY;
	padding: 0 $_BASE_PADDING;
	

	&:not([disabled]) {

		&:hover, &:focus, &.active {

			background-color: $_BACKGROUND_COLOR_HOVER;
			color: $_HOVER_COLOR;

		}

	}


	&:disabled {

		@include not-clickable;

		opacity: $_OPACITY_DISABLED;

	}

}


button, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] {

	line-height: inherit;

}
