
$containerSelectSize: 1;

.form-select {

	@include inline-block;
	@include rhythm($containerSelectSize, null null, 0 0 1 0, 0 0 0 0);

	background-color: $_BACKGROUND_COLOR;
	cursor: pointer;
	position: relative;


	&:not(.disabled) {

		&:hover, &.selected {

			background-color: $_BACKGROUND_COLOR_HOVER;

		}

	}


	&.disabled {

		cursor: default;
		opacity: $_OPACITY_DISABLED;

	}


	> select {

		margin: 0;
		width: 0.25em * $_BASE_MAX_WIDTH;


		&:disabled {

			cursor: default;
			opacity: 1;

		}

	}
	
}


select {

	@include appearance(none);
	@include rhythm($_INTERACTIVE_COPY, null 2 * $containerSelectSize);
	@include user-select(none);

	background-color: transparent;
	border: none;
	border-radius: 0;
	color: $_TEXT_COLOR;
	cursor: pointer;
	font-style: normal;
	font-weight: normal;
	opacity: $_OPACITY;
    outline: none;
	padding: 0 (1.5 * $_BASE_PADDING + $containerSelectSize) 0 $_BASE_PADDING;
	position: relative;
	z-index: 1;
	
	
	&:not([disabled]) {

		&:hover, &.selected {

			color: $_HOVER_COLOR;

		}

	}


	&:disabled {

		cursor: default;
		opacity: $_OPACITY_DISABLED;

	}

}
