
@include keyframes(fade-in) {

    0% {

        visibility: hidden;
        opacity: 0;

    }

    1% {

        visibility: visible;
        opacity: 0;

    }

    100% {

        visibility: visible;
        opacity: 1;

    }

}

@include keyframes(fade-out) {

    0% {

        visibility: visible;
        opacity: 1;

    }

    99% {

        visibility: visible;
        opacity: 0;

    }

    100% {

        visibility: hidden;
        opacity: 0;

    }

}
