
@mixin has-borders($thickness: 0.2em, $colour: red, $style: solid, $position: relative) {

	position: $position;


	&:before {

		@include not-clickable;

		border: $thickness $style $colour;
		bottom: 0;
		content: "";
		// height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		// width: 100%;

	}

}
