
@mixin filter($filter, $prefixes: webkit moz ms o spec) {

	@if $prefixes {

		@include prefixer(filter, $filter, $prefixes);

	}
    @else {

		filter: $filter;

    }

}


@mixin drop-shadow($x, $y, $blur, $colour) {

	@include filter(drop-shadow($x $x $blur $colour));

    /* for IE 8 & 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";

    /* For IE 5.5 - 7 */
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";

}
