
/* LINK */
// link states order:
// http://meyerweb.com/eric/thoughts/2007/06/04/ordering-the-link-states/

a {

	@include remove-outline;

	background: none;
	border: none;
	color: grey;
	// color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	font-style: inherit;
	font-variant: inherit;
	font-weight: inherit;
	height: auto;
	line-height: 1;
	margin: 0;
	max-width: none;
	min-height: initial;
	padding: 0;
	text-decoration: underline;
	text-indent: initial;


	// unvisited link
	// same as default color
	&:link {

		color: grey;

	}


	// visited link
	// only color property is available on Chrome
	// for security reasons (history sniffing)
	&:visited {

		color: purple;

	}


	// interaction
	&:hover, &:focus, &:active {

		color: black;

	}


	// disabled
	@include disabled {

		text-decoration: line-through;

	}

}


input,
textarea {

	line-height: inherit;

	// webkit on iOS
	// is adding rounded corners
	border-radius: 0;

	// FIX for Firefox
	box-shadow: none;


	&::-moz-focus-inner {

		border: none;

	}

}


input {

	// all input types
	// but radio and checkbox
	&[type="button"],
    &[type="color"],
    &[type="date"],
    &[type="datetime-local"],
    &[type="email"],
    &[type="file"],
    &[type="hidden"],
    &[type="image"],
    &[type="month"],
    &[type="number"],
    &[type="password"],
    &[type="range"],
    &[type="reset"],
    &[type="search"],
    &[type="submit"],
    &[type="tel"],
    &[type="text"],
    &[type="time"],
    &[type="url"],
    &[type="week"] {

		appearance: none;

    }


	&[type="search"] {

		// bug in Chrome
		// need to be redefined
		box-sizing: border-box;
		//


		&::-webkit-search-decoration, &::-webkit-search-cancel-button {

			appearance: none;

		}

	}


	&[type="checkbox"], &[type="radio"] {

		// FIX for iOS
		// really slowing down everything
		@include app-is-ios {

			@include transition(none);


			&:before, &:after {

				@include transition(none);

			}

		}
		//

	}

}


textarea {

	appearance: none;

}


button {

	// webkit on iOS
	// is adding rounded corners
	appearance: none;
	border-radius: 0;
	//


	line-height: inherit;

}

