
$_INPUT_DEFAULT_HEIGHT: 3;
$_INPUT_DEFAULT_PADDING_V: ($_INPUT_DEFAULT_HEIGHT - $_INTERACTIVE_COPY) / 2;

.input-base {

	@include disabled;
	@include remove-outline;
	@include text-rhythm($_INTERACTIVE_COPY, $_INTERACTIVE_COPY, 0 0 0 0, $_INPUT_DEFAULT_PADDING_V 1 $_INPUT_DEFAULT_PADDING_V 1);
	@include transition(background-color $_HOVER_DURATION, color $_HOVER_DURATION, opacity $_HOVER_DURATION);

	background-color: $_BACKGROUND_COLOR;

}


.input_text, .i_txt {

	@extend .input-base;

	border: 1px solid $_BORDER_COLOR;
	color: $_TEXT_COLOR;
	height: getRhythm($_INTERACTIVE_COPY, $_INPUT_DEFAULT_HEIGHT);
	width: 100%;


	@include input-placeholder {

		font-style: italic;

	}

}


.input_checkbox, .i_chckbx, .input_radio, .i_rd {

	@extend .input-base;

	@include transition(none);

	border: none;
	cursor: pointer;
	display: inline-block;
	font-size: $_BASE_FONT_SIZE;
	height: 1em / $_BASE_SIZE;
	margin: 0 $_BASE_PADDING / 2 0 0;
	padding: 0;
	user-select: none;
	vertical-align: middle;
	width: 1em / $_BASE_SIZE;


	&:not([disabled]) {

		// do not use &:focus
		// as it conflicts with the transitions
		&:hover {

			background-color: $_BACKGROUND_COLOR_HOVER;
			color: $_HOVER_COLOR;
			opacity: $_OPACITY_DISABLED;

		}

	}


	&:checked {

		background-color: $_BACKGROUND_COLOR_HOVER;


		&:hover {

			opacity: 1;

		}

	}

}


.input_radio, .i_rd {

	border-radius: 1em;

}



.textarea, .txtr {

	@extend .input-base;

	border: 1px solid $_BORDER_COLOR;
	box-sizing: border-box;
	color: $_TEXT_COLOR;
	font-style: normal;
	font-weight: normal;

	// $textareaMult: 2;
	// $textareaLines: 2;
	// min-height: 1em * $textareaLines * $_BASE_LINE_HEIGHT / ($textareaMult * $_BASE_FONT_SIZE);
	// magic multiplier:	3.38em
	// min-height: 6.76em;	//	2 x 3.38em
	// min-height: 4 * $_BASE_LINE_HEIGHT;
	min-height: getRhythm($_INTERACTIVE_COPY, 8);
	//

	resize: none;
	width: 100%;

}
