
.label, .lbl {

	@include disabled;
	@include text-rhythm($_INTERACTIVE_COPY, 2, 0 1 0 0);
    @include user-select(none);

	border: none;
	cursor: pointer;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	padding: 0;


	&:last-child {

		margin-right: 0;

	}

}
