
.label, .lbl {

	@include disabled;
	@include text-rhythm($_INTERACTIVE_COPY, 2, 0 1 0 0);

	border: none;
	cursor: pointer;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	padding: 0;
	user-select: none;


	&:last-child {

		margin-right: 0;

	}

}
