
a {

	@include remove-outline;
	@include transition(color $_HOVER_DURATION);

}


.link-box {

	@include text-rhythm-reset;

	display: block;
	text-decoration: none;
	width: 100%;

	
	&:link, &:visited, &:hover, &:focus, &.selected {

		background-color: initial;
		color: initial;
		text-decoration: none;

	}

}


.link-box-container {

	height: 0;
	padding-bottom: (100% * $_GOLDEN_RATIO);
	position: relative;
	width: 100%;


	.link-box {

		@include position(absolute, -1px -1px -1px -1px);

		width: auto;

	}

}
