
// link states order:
// http://meyerweb.com/eric/thoughts/2007/06/04/ordering-the-link-states/

.link-base {

	border: none;
	color: grey;
	cursor: pointer;
	margin: 0;
	padding: 0;


	// unvisited link
	// same as default color
	&:link {

		color: grey;
		
	}


	// visited link
	// only color property is available on Chrome
	// for security reasons (history sniffing)
	&:visited {

		color: purple;

	}


	// interaction
	&:hover, &:focus, &:active {

		color: black;

	}

}


.link-text {

	@extend .link-base;

    @include remove-outline;
	@include text-null;
	@include text-rhythm($_BODY_COPY, 2);
	@include transition(color $_HOVER_DURATION);

	// background-color: green;
	// display: inline-block;
	text-decoration: underline;


	// visited link
	// only color property is available on Chrome
	// for security reasons (history sniffing)
	&:visited {

		text-decoration: line-through;

	}


	&:hover, &:focus, &:active {

		text-decoration: none;

	}


	// disabled
	@include disabled {
		
		text-decoration: line-through;

	}

}


.link-box {

	@extend .link-base;

	@include text-rhythm-reset;

	display: block;
	text-decoration: none;
	width: 100%;

	
	&:link, &:visited, &:hover, &:focus, &.selected {

		background-color: initial;
		color: initial;
		text-decoration: none;

	}

}

