
.link {

	@include text-rhythm($_BODY_COPY, 2, 1.5 0 1 0);
	@include transition(color $_HOVER_DURATION);

	padding: 0;


	&:first-child {

		margin-top: 0;

	}


	&:last-child {

		margin-bottom: 0;

	}

}


.link-box {

	@include text-rhythm-reset;

	display: block;
	text-decoration: none;
	width: 100%;

	
	&:link, &:visited, &:hover, &:focus, &.selected {

		// background-color: initial;
		// color: initial;
		text-decoration: none;

	}

}


.link-box-container {

	height: 0;
	padding-bottom: (100% * $_GOLDEN_RATIO);
	position: relative;
	width: 100%;


	.link-box {

		@include position(absolute, -1px -1px -1px -1px);

		width: auto;

	}

}
