
.select-base {

	@include disabled;

	background-color: $_BACKGROUND_COLOR;
	cursor: pointer;
	margin: 0;
	position: relative;

}


.form-select, .form-drop-down {

	@extend .select-base;

	@include inline-block;


	&:not(.disabled) {

		&:hover, &.selected {

			background-color: $_BACKGROUND_COLOR_HOVER;

		}

	}
	
}


.select {

	@extend .select-base;

	@include appearance(none);
	@include rhythm($_INTERACTIVE_COPY, null 2, 0 0 0 0, 0 1 0 1);
	@include user-select(none);

	border: none;
	border-radius: 0;
	color: $_TEXT_COLOR;
	font-style: normal;
	font-weight: normal;
	line-height: inherit;
    outline: none;
	z-index: 1;
	
	
	&:not([disabled]) {

		&:hover, &.selected {

			color: $_HOVER_COLOR;

		}

	}

}
