
.toggle, .tggl {

	@include disabled;


	.label, .lbl {

		.toggle_checked, .tggl_chckd {

			display: none;

		}

	}


	.input_radio, .i_rd {

		display: none;
		opacity: 0;
		visibility: hidden;


		&:checked + .label,
		&:checked + .lbl, {

			.toggle_unchecked, .tggl_unchckd {

				display: none;

			}


			.toggle_checked, .tggl_chckd {

				display: block;

			}

		}

	}

}
