
.toggle {

	@include disabled;


	.label {

		.toggle-checked {

			display: none;

		}

	}


	.input-radio {

		display: none;
		opacity: 0;
		visibility: hidden;


		&:checked + .label {

			.toggle-unchecked {

				display: none;

			}


			.toggle-checked {

				display: block;

			}

		}

	}

}
