
input,
textarea {

	// webkit on iOS
	// is adding rounded corners
	appearance: none;
	border-radius: 0;
	//


	// FIX for Firefox
	box-shadow: none;
	//


	line-height: inherit;
	

	&::-moz-focus-inner {

		border: none;

	}

}


input {

	&[type="search"] {

		// bug in Chrome
		// need to be redefined
		box-sizing: border-box;
		//


		&::-webkit-search-decoration, &::-webkit-search-cancel-button {

			appearance: none;

		}

	}


	&[type="checkbox"], &[type="radio"] {

		// FIX for iOS
		// really slowing down everything
		@include app-is-ios {

			@include transition(none);


			&:before, &:after {

				@include transition(none);

			}

		}
		//

	}

}
