
////////////////////////////////////////////////////////////////////////
// HORIZONTAL
////////////////////////////////////////////////////////////////////////

// 1, 2, 3, 4, 5

@mixin media-width-1-2 {

	@include media-width($_BREAKPOINT_H_1, $_BREAKPOINT_H_2) {

		@content;

	}

}


@mixin media-width-2-3 {

	@include media-width($_BREAKPOINT_H_2, $_BREAKPOINT_H_3) {

		@content;

	}

}


@mixin media-width-3-4 {

	@include media-width($_BREAKPOINT_H_3, $_BREAKPOINT_H_4) {

		@content;

	}

}


@mixin media-width-4-5 {

	@include media-width($_BREAKPOINT_H_4, $_BREAKPOINT_H_5) {

		@content;

	}

}


// 1, 3

@mixin media-width-1-3 {

	@include media-width($_BREAKPOINT_H_1, $_BREAKPOINT_H_3) {

		@content;

	}

}


@mixin media-width-3-5 {

	@include media-width($_BREAKPOINT_H_3, $_BREAKPOINT_H_5) {

		@content;

	}

}


// max

@mixin media-width-4 {

	@include media-min-width($_BREAKPOINT_H_4) {

		@content;

	}

}

@mixin media-width-5 {

	@include media-min-width($_BREAKPOINT_H_5) {

		@content;

	}

}



////////////////////////////////////////////////////////////////////////
// VERTICAL
////////////////////////////////////////////////////////////////////////

// 1, 2, 3, 4, 5

@mixin media-height-1-2 {

	@include media-height($_BREAKPOINT_V_1, $_BREAKPOINT_V_2) {

		@content;

	}

}


@mixin media-height-2-3 {

	@include media-height($_BREAKPOINT_V_2, $_BREAKPOINT_V_3) {

		@content;

	}

}


@mixin media-height-3-4 {

	@include media-height($_BREAKPOINT_V_3, $_BREAKPOINT_V_4) {

		@content;

	}

}


@mixin media-height-4-5 {

	@include media-height($_BREAKPOINT_V_4, $_BREAKPOINT_V_5) {

		@content;

	}

}


// 1, 3

@mixin media-height-1-3 {

	@include media-height($_BREAKPOINT_V_1, $_BREAKPOINT_V_3) {

		@content;

	}

}


@mixin media-height-3-5 {

	@include media-height($_BREAKPOINT_V_3, $_BREAKPOINT_V_5) {

		@content;

	}

}


// max

@mixin media-height-4 {

	@include media-min-height($_BREAKPOINT_V_4) {

		@content;

	}

}

@mixin media-height-5 {

	@include media-min-height($_BREAKPOINT_V_5) {

		@content;

	}

}
