
$_BREAKPOINT_30: 30em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_30_INVERT: 30em;
$_BREAKPOINT_35: 35em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_35_INVERT: 35em;

$_BREAKPOINT_40: 40em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_40_INVERT: 40em;
$_BREAKPOINT_45: 45em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_45_INVERT: 45em;

$_BREAKPOINT_50: 50em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_50_INVERT: 50em;
$_BREAKPOINT_55: 55em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_55_INVERT: 55em;

$_BREAKPOINT_60: 60em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_60_INVERT: 60em;
$_BREAKPOINT_65: 65em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_65_INVERT: 65em;

$_BREAKPOINT_70: 70em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_70_INVERT: 70em;
$_BREAKPOINT_75: 75em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_75_INVERT: 75em;

$_BREAKPOINT_80: 80em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_80_INVERT: 80em;
$_BREAKPOINT_85: 85em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_85_INVERT: 85em;

$_BREAKPOINT_90: 90em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_90_INVERT: 90em;
$_BREAKPOINT_95: 95em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_95_INVERT: 95em;

$_BREAKPOINT_100: 100em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_100_INVERT: 100em;
$_BREAKPOINT_105: 105em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_105_INVERT: 105em;

$_BREAKPOINT_110: 110em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_110_INVERT: 110em;
$_BREAKPOINT_115: 115em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_115_INVERT: 115em;

$_BREAKPOINT_120: 120em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_120_INVERT: 120em;
$_BREAKPOINT_125: 125em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_125_INVERT: 125em;

$_BREAKPOINT_130: 130em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_130_INVERT: 130em;
$_BREAKPOINT_135: 135em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_135_INVERT: 135em;



// HORIZONTAL

$_BREAKPOINT_H_1: $_BREAKPOINT_50;
$_BREAKPOINT_H_2: $_BREAKPOINT_50 + ($_BREAKPOINT_85 - $_BREAKPOINT_50) / 2;
$_BREAKPOINT_H_3: $_BREAKPOINT_85;
$_BREAKPOINT_H_4: $_BREAKPOINT_85 + ($_BREAKPOINT_120 - $_BREAKPOINT_85) / 2;
$_BREAKPOINT_H_5: $_BREAKPOINT_120;



// VERTICAL

$_BREAKPOINT_V_1: $_BREAKPOINT_40;
$_BREAKPOINT_V_2: $_BREAKPOINT_40 + ($_BREAKPOINT_65 - $_BREAKPOINT_40) / 2;
$_BREAKPOINT_V_3: $_BREAKPOINT_65;
$_BREAKPOINT_V_4: $_BREAKPOINT_65 + ($_BREAKPOINT_90 - $_BREAKPOINT_65) / 2;
$_BREAKPOINT_V_5: $_BREAKPOINT_90;
