
$_BREAKPOINT_30: 30em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_35: 35em * $_DEFAULT_BODY_FONT_SIZE;

$_BREAKPOINT_40: 40em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_45: 45em * $_DEFAULT_BODY_FONT_SIZE;

$_BREAKPOINT_50: 50em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_55: 55em * $_DEFAULT_BODY_FONT_SIZE;

$_BREAKPOINT_60: 60em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_65: 65em * $_DEFAULT_BODY_FONT_SIZE;

$_BREAKPOINT_70: 70em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_75: 75em * $_DEFAULT_BODY_FONT_SIZE;

$_BREAKPOINT_80: 80em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_85: 85em * $_DEFAULT_BODY_FONT_SIZE;

$_BREAKPOINT_90: 90em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_95: 95em * $_DEFAULT_BODY_FONT_SIZE;

$_BREAKPOINT_100: 100em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_105: 105em * $_DEFAULT_BODY_FONT_SIZE;

$_BREAKPOINT_110: 110em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_115: 115em * $_DEFAULT_BODY_FONT_SIZE;

$_BREAKPOINT_120: 120em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_125: 125em * $_DEFAULT_BODY_FONT_SIZE;

$_BREAKPOINT_130: 130em * $_DEFAULT_BODY_FONT_SIZE;
$_BREAKPOINT_135: 135em * $_DEFAULT_BODY_FONT_SIZE;
