
$_GRID_COLOR_1: cyan;
$_GRID_COLOR_2: rgba(0, 255, 255, 0.5);
$_GRID_COLOR_3: green;


$_BACKGROUND_COLOR: #e8e8e8;

$_BACKGROUND_COLOR_HOVER: #bbb;

$_BORDER_COLOR: black;

$_TEXT_COLOR: black;

$_HOVER_COLOR: white;


$_COLOR_INTERACTIVE_1: goldenrod;
$_COLOR_INTERACTIVE_2: gold;


$_OPACITY: 1;

$_OPACITY_HOVER: 0.75;

$_OPACITY_DISABLED: 0.5;



/* SOCIAL */

$_SOCIAL_FACEBOOK_BLUE: #3b5998;

$_SOCIAL_TWITTER_BLUE: #00aced;

$_SOCIAL_GOOGLE_PLUS_RED: #dd4b39;

$_SOCIAL_YOUTUBE_RED: #bb0000;

$_SOCIAL_LINKEDIN_RED: #007bb6;

$_SOCIAL_INSTAGRAM_BLUE: #517fa4;

$_SOCIAL_PINTEREST_RED: #cb2027;

$_SOCIAL_VINE_GREEN: #00bf8f;

$_SOCIAL_SNAPCHAT_YELLOW: #fffc00;

$_SOCIAL_QUORA_BURGUNDY: #a82400;

$_SOCIAL_FLICKR_PINK: #ff0084;

$_SOCIAL_TUMBLR_DARK_TURQUOISE: #32506d;

$_SOCIAL_VK_BLUE: #45668e;

$_SOCIAL_VIMEO_GREEN: #aad450;

$_SOCIAL_FOURSQUARE_BLUE: #0072b1;
