
$_GRID_COLOR_1: cyan;
$_GRID_COLOR_2: rgba(0, 255, 255, 0.5);
$_GRID_COLOR_3: green;


$_BACKGROUND_COLOR: #e8e8e8;

$_BACKGROUND_COLOR_HOVER: #bbb;

$_BORDER_COLOR: black;

$_TEXT_COLOR: black;

$_HOVER_COLOR: white;


$_COLOR_INTERACTIVE_1: goldenrod;
$_COLOR_INTERACTIVE_2: gold;


$_OPACITY: 1;

$_OPACITY_HOVER: 0.75;

$_OPACITY_DISABLED: 0.5;
