
// Coefficient to transform em to px
$_BREAKPOINT_COEFF: ($_DEFAULT_BODY_FONT_SIZE * 62.5 / 100);


$_BREAKPOINT_200: 20em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_200_INVERT: 20em;
$_BREAKPOINT_225: 22.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_225_INVERT: 22.5em;
$_BREAKPOINT_250: 25em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_250_INVERT: 25em;
$_BREAKPOINT_275: 27.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_275_INVERT: 27.5em;

$_BREAKPOINT_300: 30em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_300_INVERT: 30em;
$_BREAKPOINT_325: 32.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_325_INVERT: 32.5em;
$_BREAKPOINT_350: 35em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_350_INVERT: 35em;
$_BREAKPOINT_375: 37.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_375_INVERT: 37.5em;

$_BREAKPOINT_400: 40em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_400_INVERT: 40em;
$_BREAKPOINT_425: 42.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_425_INVERT: 42.5em;
$_BREAKPOINT_450: 45em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_450_INVERT: 45em;
$_BREAKPOINT_475: 47.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_475_INVERT: 47.5em;

$_BREAKPOINT_500: 50em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_500_INVERT: 50em;
$_BREAKPOINT_525: 52.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_525_INVERT: 52.5em;
$_BREAKPOINT_550: 55em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_550_INVERT: 55em;
$_BREAKPOINT_575: 57.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_575_INVERT: 57.5em;

$_BREAKPOINT_600: 60em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_600_INVERT: 60em;
$_BREAKPOINT_625: 62.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_625_INVERT: 62.5em;
$_BREAKPOINT_650: 65em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_650_INVERT: 65em;
$_BREAKPOINT_675: 67.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_675_INVERT: 67.5em;

$_BREAKPOINT_700: 70em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_700_INVERT: 70em;
$_BREAKPOINT_725: 72.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_725_INVERT: 72.5em;
$_BREAKPOINT_750: 75em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_750_INVERT: 75em;
$_BREAKPOINT_775: 77.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_775_INVERT: 77.5em;

$_BREAKPOINT_800: 80em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_800_INVERT: 80em;
$_BREAKPOINT_825: 82.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_825_INVERT: 82.5em;
$_BREAKPOINT_850: 85em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_850_INVERT: 85em;
$_BREAKPOINT_875: 87.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_875_INVERT: 87.5em;

$_BREAKPOINT_900: 90em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_900_INVERT: 90em;
$_BREAKPOINT_925: 92.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_925_INVERT: 92.5em;
$_BREAKPOINT_950: 95em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_950_INVERT: 95em;
$_BREAKPOINT_975: 97.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_975_INVERT: 97.5em;

$_BREAKPOINT_1000: 100em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1000_INVERT: 100em;
$_BREAKPOINT_1025: 102.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1025_INVERT: 102.5em;
$_BREAKPOINT_1050: 105em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1050_INVERT: 105em;
$_BREAKPOINT_1075: 107.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1075_INVERT: 107.5em;

$_BREAKPOINT_1100: 110em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1100_INVERT: 110em;
$_BREAKPOINT_1125: 112.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1125_INVERT: 112.5em;
$_BREAKPOINT_1150: 115em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1150_INVERT: 115em;
$_BREAKPOINT_1175: 117.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1175_INVERT: 117.5em;

$_BREAKPOINT_1200: 120em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1200_INVERT: 120em;
$_BREAKPOINT_1225: 122.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1225_INVERT: 122.5em;
$_BREAKPOINT_1250: 125em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1250_INVERT: 125em;
$_BREAKPOINT_1275: 127.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1275_INVERT: 127.5em;

$_BREAKPOINT_1300: 130em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1300_INVERT: 130em;
$_BREAKPOINT_1325: 132.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1325_INVERT: 132.5em;
$_BREAKPOINT_1350: 135em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1350_INVERT: 135em;
$_BREAKPOINT_1375: 137.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1375_INVERT: 137.5em;

$_BREAKPOINT_1400: 140em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1400_INVERT: 140em;
$_BREAKPOINT_1425: 142.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1425_INVERT: 142.5em;
$_BREAKPOINT_1450: 145em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1450_INVERT: 145em;
$_BREAKPOINT_1475: 147.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1475_INVERT: 147.5em;

$_BREAKPOINT_1500: 150em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1500_INVERT: 150em;
$_BREAKPOINT_1525: 152.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1525_INVERT: 152.5em;
$_BREAKPOINT_1550: 155em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1550_INVERT: 155em;
$_BREAKPOINT_1575: 157.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1575_INVERT: 157.5em;

$_BREAKPOINT_1600: 160em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1600_INVERT: 160em;
$_BREAKPOINT_1625: 162.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1625_INVERT: 162.5em;
$_BREAKPOINT_1650: 165em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1650_INVERT: 165em;
$_BREAKPOINT_1675: 167.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1675_INVERT: 167.5em;

$_BREAKPOINT_1700: 170em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1700_INVERT: 170em;
$_BREAKPOINT_1725: 172.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1725_INVERT: 172.5em;
$_BREAKPOINT_1750: 175em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1750_INVERT: 175em;
$_BREAKPOINT_1775: 177.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1775_INVERT: 177.5em;

$_BREAKPOINT_1800: 180em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1800_INVERT: 180em;
$_BREAKPOINT_1825: 182.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1825_INVERT: 182.5em;
$_BREAKPOINT_1850: 185em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1850_INVERT: 185em;
$_BREAKPOINT_1875: 187.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1875_INVERT: 187.5em;

$_BREAKPOINT_1900: 190em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1900_INVERT: 190em;
$_BREAKPOINT_1925: 192.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1925_INVERT: 192.5em;
$_BREAKPOINT_1950: 195em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1950_INVERT: 195em;
$_BREAKPOINT_1975: 197.5em * $_BREAKPOINT_COEFF;
$_BREAKPOINT_1975_INVERT: 197.5em;

$_BREAKPOINT_2000: 200em * $_BREAKPOINT_COEFF;



// HORIZONTAL

$_BREAKPOINT_H_1: $_BREAKPOINT_500;
$_BREAKPOINT_H_2: $_BREAKPOINT_500 + ($_BREAKPOINT_850 - $_BREAKPOINT_500) / 2;
$_BREAKPOINT_H_3: $_BREAKPOINT_850;
$_BREAKPOINT_H_4: $_BREAKPOINT_850 + ($_BREAKPOINT_1200 - $_BREAKPOINT_850) / 2;
$_BREAKPOINT_H_5: $_BREAKPOINT_1200;
$_BREAKPOINT_H_6: $_BREAKPOINT_1200 + ($_BREAKPOINT_1550 - $_BREAKPOINT_1200) / 2;
$_BREAKPOINT_H_7: $_BREAKPOINT_1550;



// VERTICAL

$_BREAKPOINT_V_1: $_BREAKPOINT_400;
$_BREAKPOINT_V_2: $_BREAKPOINT_400 + ($_BREAKPOINT_650 - $_BREAKPOINT_400) / 2;
$_BREAKPOINT_V_3: $_BREAKPOINT_650;
$_BREAKPOINT_V_4: $_BREAKPOINT_650 + ($_BREAKPOINT_900 - $_BREAKPOINT_650) / 2;
$_BREAKPOINT_V_5: $_BREAKPOINT_900;
$_BREAKPOINT_V_6: $_BREAKPOINT_900 + ($_BREAKPOINT_1150 - $_BREAKPOINT_900) / 2;
$_BREAKPOINT_V_7: $_BREAKPOINT_1150;
