
// $georgia: Georgia, Cambria, "Times New Roman", Times, serif;
// $helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
// $lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
// $monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
// $verdana: Verdana, Geneva, sans-serif;

$_FUTURA: Futura, 'Trebuchet MS', Arial, sans-serif;

$_GARAMOND: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;



/* body font size */

// Browsers' most common font size
// 100% => 1em = 16px
$_DEFAULT_BODY_FONT_SIZE: 1 !default;

// 62.5% => 1em = 10px
// $_DEFAULT_BODY_FONT_SIZE: 62.5 / 100 !default;



/* text only */

// rhythm
$_BASE_FONT_SIZE: 1em !default;

// 150% of font-size
$_BASE_LINE_HEIGHT: (1.5 * $_BASE_FONT_SIZE) !default;

// max width for readibility
$_BASE_MAX_WIDTH: 45 !default;

// margin & padding
// $_BASE_MARGIN: $_BASE_LINE_HEIGHT / $golden;
$_BASE_MARGIN: ($_BASE_LINE_HEIGHT / 2) !default;
// $_BASE_PADDING: $_BASE_LINE_HEIGHT / $golden;
$_BASE_PADDING: ($_BASE_LINE_HEIGHT / 2) !default;
