
// default value to overwrite
$_MODULAR_SCALE_PRECISION: 100;
$_MODULAR_SCALE_RATIO: $minor-third !default;				// 1.2
$_MODULAR_SCALE_BASE_RAW: 0.75 !default;					// 12px
$_MODULAR_SCALE_BASE: (1em * $_MODULAR_SCALE_BASE_RAW);

// setup them up with Bourbon
$modular-scale-ratio: $_MODULAR_SCALE_RATIO;
$modular-scale-base: $_MODULAR_SCALE_BASE;




$_BODY_COPY: 0.875 !default;                                // 14px
$_BODY_COPY_MARGIN_RAW: 0.5 !default;

$_INTERACTIVE_COPY: 0.875 !default;							// 14px


$_LIST_COPY_DISC: 0.875 !default;							// 14px

$_LIST_COPY_NUMBER: 0.875 !default;							// 14px
