
// >= IE 8.0

@mixin vertically-centered-content {

	display: table;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;

	> :first-child {

		display: table-cell;
		height: 100%;
		text-align: center;
		vertical-align: middle;
		width: 100%;

	}

}
