
.list {

	margin-top: $_BODY_COPY_MARGIN;


	&_with-disc {

		> li {

			// background-color: green;
			padding: 0 0 0 ($_LIST_COPY_DISC * 1.5em);
			position: relative;


			&:before {

				@include not-clickable;
				@include rhythm-text($_LIST_COPY_DISC, 1, 0 0 0 0);

				// background-color: red;
				content: "â—";
				left: 0;
				position: absolute;
				top: 0;
				z-index: -1;

			}

		}

	}


	&_with-number, &_w-num {

		> li {

			// background-color: green;
			padding: 0 0 0 ($_LIST_COPY_NUMBER * 1.5em);
			position: relative;


			&:before {

				@include not-clickable;
				@include rhythm-text($_LIST_COPY_NUMBER, 1, 0 0 0 0);

				// background-color: red;
				left: 0;
				position: absolute;
				top: 0;
				z-index: -1;

			}


			@mixin numberListElement($num) {

				&:nth-child(#{$num}):before {

					content: $num + quote(".");

				}

			}

			@include numberListElement(1);
			@include numberListElement(2);
			@include numberListElement(3);
			@include numberListElement(4);
			@include numberListElement(5);
			@include numberListElement(6);
			@include numberListElement(7);
			@include numberListElement(8);
			@include numberListElement(9);
			@include numberListElement(10);

		}

	}


	&_with-margin {

		> li {

			margin-bottom: $_BASE_MARGIN;


			&:last-child, &:last-of-type {

				margin-bottom: 0;

			}

		}

	}


	&_horizontal, &_hor {

		@include clearfix;

		display: inline-block;


		> li {

			display: inline-block;
			float: left;

		}


		&.list_with-margin {

			> li {

				margin: 0 $_BASE_MARGIN 0 0;


				&:last-child, &:last-of-type {

					margin: 0;

				}

			}

		}

	}

}
