
@mixin margins {

	&.center {

		margin: 0 auto;
		text-align: center;

	}

	&.no-vertical-margins {

		margin-bottom: 0;
		margin-top: 0;

	}

	&.no-horizontal-margins {

		margin-left: 0;
		margin-right: 0;

	}

	&.no-margins {

		margin: 0;

	}

	&.no-top-margin {

		margin-top: 0;

	}

	&.no-right-margin {

		margin-right: 0;

	}

	&.no-bottom-margin {

		margin-bottom: 0;

	}

	&.no-left-margin {

		margin-left: 0;

	}

}
