
// $coeff is use in connection with rhythm

@mixin margin-rhythm($margin: null null null null, $coeff: null) {

	$margin: unpack($margin);
	$marginTop: nth($margin, 1);
	$marginRight: nth($margin, 2);
	$marginBottom: nth($margin, 3);
	$marginLeft: nth($margin, 4);

	@if($marginTop) {

		@if(type-of($marginTop) == number) {

			margin-top: $marginTop * $coeff;

		}
		@else {

			margin-top: $marginTop;

		}

	}

	@if($marginRight) {

		@if(type-of($marginRight) == number) {

			margin-right: $marginRight * $coeff;

		}
		@else {

			margin-right: $marginRight;

		}

	}

	@if($marginBottom) {

		@if(type-of($marginBottom) == number) {

			margin-bottom: $marginBottom * $coeff;

		}
		@else {

			margin-bottom: $marginBottom;

		}

	}

	@if($marginLeft) {

		@if(type-of($marginLeft) == number) {

			margin-left: $marginLeft * $coeff;

		}
		@else {

			margin-left: $marginLeft;

		}

	}

}
