
// $coeff is use in connection with rhythm

@mixin padding-rhythm($padding: null null null null, $coeff: null) {

	$padding: unpack($padding);
	$paddingTop: nth($padding, 1);
	$paddingRight: nth($padding, 2);
	$paddingBottom: nth($padding, 3);
	$paddingLeft: nth($padding, 4);

	@if($paddingTop) {

		@if(type-of($paddingTop) == number) {

			padding-top: $paddingTop * $coeff;

		}
		@else {

			padding-top: $paddingTop;

		}

	}

	@if($paddingRight) {

		@if(type-of($paddingRight) == number) {

			padding-right: $paddingRight * $coeff;

		}
		@else {

			padding-right: $paddingRight;

		}

	}

	@if($paddingBottom) {

		@if(type-of($paddingBottom) == number) {

			padding-bottom: $paddingBottom * $coeff;

		}
		@else {

			padding-bottom: $paddingBottom;

		}

	}

	@if($paddingLeft) {

		@if(type-of($paddingLeft) == number) {

			padding-left: $paddingLeft * $coeff;

		}
		@else {

			padding-left: $paddingLeft;

		}

	}

}
