
/* VERTICALLY CENTERED CONTENT */

.vcc {

	@include vertically-centered-content;

}



/* FLOAT */

.left,
.float_left, .f_l {
	
	float: left;

}


.right,
.float_right, .f_r {

	float: right;

}


.clear-both,
.clear_both {

	clear: both;

}


.clearfix, .clear-fix {

	@include clearfix;

}



/* MARGINS */

.margin-left_auto {

	margin-left: auto;

}


.margin-right_auto {

	margin-right: auto;

}


.margin_auto, .m_a {

	float: none;
	margin-left: auto;
	margin-right: auto;

}


.no-vertical-margins {

	margin-bottom: 0;
	margin-top: 0;

}


.no-horizontal-margins {

	margin-left: 0;
	margin-right: 0;

}


.no-margins,
.margin_0, .m_0 {

	margin: 0;

}


.no-top-margin,
.no-margin-top,
.margin-top_0, .m-t_0 {

	margin-top: 0;

}


.no-right-margin,
.no-margin-right,
.margin-right_0, .m-r_0 {

	margin-right: 0;

}


.no-bottom-margin,
.no-margin-bottom,
.margin-bottom_0, .m-b_0 {

	margin-bottom: 0;

}


.no-left-margin,
.no-margin-left,
.margin-left_0, .m-l_0  {

	margin-left: 0;

}




/* PADDING */

.no-vertical-paddings {

	padding-bottom: 0;
	padding-top: 0;

}


.no-horizontal-paddings {

	padding-left: 0;
	padding-right: 0;

}


.no-paddings,
.padding_0, .p_0 {

	padding: 0;

}


.no-top-padding,
.no-padding-top,
.padding-top_0, .p-t_0 {

	padding-top: 0;

}


.no-right-padding,
.no-padding-right,
.padding-right_0, .p-r_0 {

	padding-right: 0;

}


.no-bottom-padding,
.no-padding-bottom,
.padding-bottom_0, .p-b_0 {

	padding-bottom: 0;

}


.no-left-padding,
.no-padding-left,
.padding-left_0, .p-l_0  {

	padding-left: 0;

}
