
.color_r {

    color: red;

}


.color_g {

    color: green;

}


.color_b {

    color: blue;

}



.color_c {

    color: cyan;

}


.color_m {

    color: magenta;

}


.color_y {

    color: yellow;

}


.color_k {

    color: black;

}


.color_w {

    color: white;

}


.color_g {

    color: grey;

}



.bg-color_r {

    background-color: red;

}


.bg-color_g {

    background-color: green;

}


.bg-color_b {

    background-color: blue;

}



.bg-color_c {

    background-color: cyan;

}


.bg-color_m {

    background-color: magenta;

}


.bg-color_y {

    background-color: yellow;

}


.bg-color_k {

    background-color: black;

}


.bg-color_w {

    background-color: white;

}


.bg-color_g {

    background-color: grey;

}
