
/* DISPLAY */

.display {

	&_inline-block {

		display: inline-block;

	}


	&_block {

		display: block;

	}


	&_none {

		display: none;

	}

}


/* BACKGROUND */

.background_cover, .bg_cover {

	background-size: cover;

}


.background_contain, .bg_contain {

	background-size: contain;

}


.background_position, .bg_pos {

	background-position: center center;


	&.top {

		background-position: center top;

	}


	&.top_with-offset {

		background-position: center 1%;

	}


	&.top-right {

		background-position: right top;

	}


	&.top-left {

		background-position: left top;

	}


	&.bottom {

		background-position: center bottom;

	}


	&.bottom_with-offset {

		background-position: center 99%;

	}


	&.bottom-right {

		background-position: right bottom;

	}


	&.bottom-left {

		background-position: left bottom;

	}

}


.background_no-repeat, .bg_no-repeat {

	background-repeat: no-repeat;

}
