
/* RESET */

.text-reset {

	@include rhythm-text-reset;

}



/* FONT */

.font-weight_bold, .f-w_b, .bold {

	font-weight: bold;

}


.font-style_italic, .f-s_i, .italic {

	font-style: italic;

}



/* TEXT ALIGN */

.text-align_left, .t-a_l {

	text-align: left;

}


.text-align_center, .t-a_c {

	text-align: center;

}


.text-align_right, .t-a_r {

	text-align: right;

}


.text-align_justify, .t-a_j {

	text-align: justify;
    text-justify: inter-word;

}



/* TEXT TRANSFORM */

.uppercase,
.text-transform_uppercase, .t-t_u {

	text-transform: uppercase;

}


.capitalize,
.text-transform_capitalize, .t-t_c {

	text-transform: capitalize;

}



/* TEXT DECORATION */

.none,
.text-decoration_none, .t-d_n {

	text-decoration: none;

}

.underline,
.text-decoration_underline, .t-d_u {

	text-decoration: underline;

}


.line-through,
.text-decoration_line-through, .t-d_b {

	text-decoration: line-through;

}



/* WIDTH */

.full-width {

	max-width: none;
	min-width: auto;
	width: 100%;

}


.min-width {

	&_auto {

		min-width: auto;

	}

}


.max-width {

	&_none {

		max-width: none;

	}

}



/* COLOUR */

.red {

	color: red;


	&:link, &:visited, &:hover, &:focus, &.selected {

		color: red;

	}

}

.green {

	color: green;


	&:link, &:visited, &:hover, &:focus, &.selected {

		color: green;

	}

}

.blue {

	color: blue;


	&:link, &:visited, &:hover, &:focus, &.selected {

		color: blue;

	}

}

.black {

	color: black;


	&:link, &:visited, &:hover, &:focus, &.selected {

		color: black;

	}

}

.white {

	color: white;


	&:link, &:visited, &:hover, &:focus, &.selected {

		color: white;

	}

}
