
@function getRandomColour($red: null, $green: null, $blue: null, $alpha: null) {

	@if not $red {

		$red: (random(256) - 1);

	}


	@if not $green {

		$green: (random(256) - 1);

	}


	@if not $blue {

		$blue: (random(256) - 1);

	}


	@if not $alpha {

		// 0.25 < alpha < 0.75
		$alpha: (0.25 + random(50) / 100);

	}


	@return rgba($red, $green, $blue, $alpha);

}
