
@function getColumnDefaultWidth($columnNum: $_COLUMN_NUMBER) {

	@return 100% / $columnNum;

}


@mixin column($cols, $columnNum: $_COLUMN_NUMBER) {

	width: $cols * getColumnDefaultWidth($columnNum);

}


@mixin generate-columns($columnsNum) {

	@for $i from 1 through $columnsNum {

		$special: '';

		@if $i == $columnsNum / 2 {

			$special: '.column-half-' + $columnsNum;

		}

		@if $i == $columnsNum / 3 {

			$special: '.column-third-' + $columnsNum;

		}

		@if $i == $columnsNum / 4 {

			$special: '.column-quarter-' + $columnsNum;

		}

	    .column-#{$i}, #{$special} {

			@include column($i);

	    }

	}
	
}
