
.with-disc {

	> li {

		// background-color: green;
		padding: 0 0 0 (1.5em * $_BASE_SIZE);
		position: relative;


		&:before {

			@include not-clickable;
			@include text-rhythm($_LIST_COPY_DISC, 2, 0 0 0 0);

			// background-color: red;
			content: "â—";
			left: 0;
			position: absolute;
			top: 0;
			z-index: -1;

		}

	}

}


.with-number {

	> li {

		// background-color: green;
		padding: 0 0 0 (2em * $_BASE_SIZE);
		position: relative;


		&:before {

			@include not-clickable;
			@include rhythm($_LIST_COPY_NUMBER, $_BASE_SIZE 2, 0 0 0 0);

			// background-color: red;
			left: 0;
			line-height: 2.5em;
			position: absolute;
			text-align: center;
			top: 0;
			z-index: -1;

		}


		@mixin numberListElement($num) {

			&:nth-child(#{$num}):before {

				content: $num + quote(".");

			}

		}

		@include numberListElement(1);
		@include numberListElement(2);
		@include numberListElement(3);
		@include numberListElement(4);
		@include numberListElement(5);
		@include numberListElement(6);
		@include numberListElement(7);
		@include numberListElement(8);
		@include numberListElement(9);
		@include numberListElement(10);

	}

}


.horizontal {

	@include clearfix;
	
	display: inline-block;

	
	> li {

		display: inline-block;
		float: left;

	}

}
