
.margin-auto {

	margin: 0 auto;

}


.align-left {

	margin: 0 auto 0 0;

}


.align-right {

	margin: 0 0 0 auto;

}


.no-vertical-margins {

	margin-bottom: 0;
	margin-top: 0;

}


.no-horizontal-margins {

	margin-left: 0;
	margin-right: 0;

}


.no-margins {

	margin: 0;

}


.no-top-margin {

	margin-top: 0;

}


.no-right-margin {

	margin-right: 0;

}


.no-bottom-margin {

	margin-bottom: 0;

}


.no-left-margin {

	margin-left: 0;

}
